.dot {
    height: 100px;
    width: 100px;
    background-color: rgb(115, 120, 121);
    border-radius: 50%;
    border: 5px solid black;
    display: inline-block;
  }
/* .turnRed{
    height: 100px;
    width: 100px;
    background-color: rgb(228, 19, 29);
    border-radius: 50%;
    border: 5px solid black;
    display: inline-block;
}
.turnBlue{
    height: 100px;
    width: 100px;
    background-color: rgb(33, 19, 228);
    border-radius: 50%;
    border: 5px solid black;
    display: inline-block;
} */
