body {
    background-color:burlywood;
    font-family: 'Kaushan Script', cursive;
}

.header {
    background-color: darkorange;
}

/* .product-group {
    margin-top: 15px;
    background-color: black;
    opacity: 0.6;
} */


