{% extends 'base.html' %}

{% block pagecontent %}

<div class="jumbotron">
    <h1 class="display-6">gestionVial</h1>
    <p class="lead">Selectionnez un des modules ci-dessous pour effectuer des operations y reliees.</p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Stock</a> &nbsp;
    <a class="btn btn-success btn-lg" href="#" role="button">Ventes</a> &nbsp;
    <a class="btn btn-info btn-lg" href="#" role="button">Recevables</a> &nbsp;
    <a class="btn btn-warning btn-lg" href="#" role="button">Achats</a> &nbsp;
    <a class="btn btn-danger btn-lg" href="#" role="button">Creances</a> &nbsp;
    <a class="btn btn-dark btn-lg" href="#" role="button">Personnel</a> &nbsp;
</div>

{% endblock %}  