{% extends 'acceuil/base.html' %}

{% block pagecontent %}
<div class="jumbotron">
  <h1 class="display-4">Repertoire des employes</h1>
  <p class="lead">Liste des employe(es) actuelles</p>
  <hr class="my-4">
  <ul>
    {% if employes %}
      {% for employe in employes %}
        <li><a href="{{ employe.get_absolute_url }}">{{ employe.prenom }} {{ employe.nom }}</a></li>
      {% endfor %}
    {% else %}
      <li>Pas d'employe dans la base! :(</li>
    {% endif %}
  </ul>
      
</div>

{% endblock %}  