{% extends 'acceuil/base.html' %}

{% block pagecontent %}
<div class="jumbotron">
    {% if not form.instance.prenom %}
    <h1 class="display-4">Enregistrer un(e) nouvel(le) employe(e):</h1>
    <p class="lead">Veuillez entrer les informations du nouvel employe</p>
    {% else %}
    <h1 class="display-4">{{form.instance.prenom}} {{form.instance.nom}} </h1>
    <p class="lead">Veuillez mettre a jour les informations ci-dessous</p>
    {% endif %}

    <hr class="my-4">
    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Soumettre" class="btn btn-primary btn-lg">        
    </form>
</div>


{% endblock %}  