{% extends 'acceuil/base.html' %}

{% block pagecontent %}

  <div class="jumbotron">
    <h1>Veuillez entrer les informations requises ci-dessous:</h1>
    <p></p>
    <form method="POST">
      {{ empForm.as_p }}
      {% csrf_token %}
      <input type="submit" class='btn btn-primary' value="Soumettre">
    </form>
  </div>

    
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Stock</a> &nbsp;
    <a class="btn btn-success btn-lg" href="#" role="button">Ventes</a> &nbsp;
    <a class="btn btn-info btn-lg" href="#" role="button">Recevables</a> &nbsp;
    <a class="btn btn-warning btn-lg" href="#" role="button">Achats</a> &nbsp;
    <a class="btn btn-danger btn-lg" href="#" role="button">Creances</a> &nbsp;
    <a class="btn btn-dark btn-lg" href="#" role="button">Personnel</a> &nbsp; -->

{% endblock %}  