/* body {font-family: Arial, Helvetica, sans-serif;} */
.navbar2 {
width: 100%;
background-color: rgb(119, 111, 111);
overflow: auto;
}

.navbar2 a {
float: left;
padding: 12px;
color: white;
text-decoration: none;
font-size: 17px;
}

.navbar2 a:hover {
background-color: #000;
}

.active {
background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
.navbar2 a {
float: none;
display: block;
}
}