{% include './ventes_clients.html' %}

{% block pagecontent3 %}
<div id="clients_ajouter" class="container bg-white p-5" style="margin-left: 300px; margin-top: -50px;">
    <h3></h3>
    <h1 class="display-4">
        Modifier les infos du client: {{ object.prenom }} {{ object.nom }} - {{ nomEntreprise }}
    </h1>
    <p class="lead">Faites les modifications requises:</p>
    <hr>
    <form method="POST">
        {% csrf_token %}    
        {{ form.as_p }}
        <hr>
        <input type="submit" value="Soumettre modifications" class="btn btn-warning btn-lg"> &nbsp;
        <a type="button" href="{% url 'ventes:clientsDetails' pk=object.id %}" class="btn btn-outline-secondary btn-lg">Annuler</a>
    </form>
</div>
{% endblock %} 