{% include './ventes_clients.html' %}

{% block pagecontent3 %}
<!-- {% if messages %}
<div class="container" id="ajout_client_success">
    <div id="ajout_client_success" class="alert alert-success">
        {% for message in messages %}
            {{ message }} </br>
        {% endfor %}
    </div>
</div>
{% endif %} -->
<div id="clients_ajouter" class="container bg-white p-5" style="margin-left: 300px; margin-top: -50px;">
    <h1 class="display-4">
        Repertoire des clients
    </h1>
    <p></p>
    <form action="" method="GET">
        <input type="search" placeholder="Entre nom du client ou de l'entreprise" name="valeur_recherchee" size="50px"/>
        <input type="submit" value="Rechercher" name="recherche" class="btn btn-success btn-sm"/>
        <input type="submit" class="btn btn-secondary btn-sm" name="liste" value="Liste de tous les clients"/>
    </form>
    <hr>
    {% if button == 1 and objects %}
    <p class="lead">Liste des clients retrouves avec nom ou nom d'entreprise "{{query}}":</p>
        
        <table class="table table-striped">
            <tr>
                <th>Nom client</th>
                <th>Entreprise</th>
            </tr>
            {% for clients in objects %}
            <tr>
                <td><a href="{% url 'ventes:clientsDetails' pk=clients.id%}" style="font-size: larger;">{{ clients.prenom }} {{ clients.nom }}</a></td>
                <td><a href="{% url 'ventes:clientsDetails' pk=clients.id%}" style="font-size: larger;">{{ clients.nomEntreprise }}</a></td>
            </tr>
        
            {% endfor %}
        </table>
    {%  elif button == 1 %}
    <p class="lead">Pas de client avec nom ou nom d'entreprise <em>"{{query}}"</em>. Veuillez revisiter vos parametres de recherche.</p> 
    {%  elif button == 2 %}
    <p class="lead">Liste de tous les clients:</p>
        
    <table class="table table-striped">
        <tr>
            <th>Nom client</th>
            <th>Entreprise</th>
        </tr>
        {% for clients in objects %}
        <tr>
            <td><a href="{% url 'ventes:clientsDetails' pk=clients.id%}" style="font-size: larger;">{{ clients.prenom }} {{ clients.nom }}</a></td>
            <td><a href="{% url 'ventes:clientsDetails' pk=clients.id%}" style="font-size: larger;">{{ clients.nomEntreprise }}</a></td>
        </tr>
    
        {% endfor %}
    {% endif %}
</div>
{% endblock %} 
