{% extends 'acceuil/base.html' %}

{% block pagecontent %}

<div class="jumbotron">
    <h1 class="display-6">gestionVial</h1>
    <p></p>
    <p class="lead">L'application centralisee pour la gestion de la Vial-Mali.</p>
    <hr class="my-4">
    <p>Selectionnez un des modules disponibles dans la barre de navigation a gauche pour afficher les operations possibles reliees a ce module.</p>
    <p>Les modules ci-dessous sont disponibles</p>
    <table class="table table-striped">
    <tr><td><p><b>Stock</b> - pour consulter et/ou mettre a jour le niveau du stock. </p> <p>03/02/2023 - Fonctionnel</p></tr>
    <tr><td><p><b>Ventes</b> - pour creer devis et/ou generer une facture pour un devis existant. Vous permet egalement de consulter tous les devis courrants ou passes</p></td></tr>
    <tr><td><p><b>Recevables</b> - pour consulter les factures non-payees et effectuer un paiement. Ici vous pourrez egalement consulter tous les factures courrantes ou passees. </p></td></tr>
    <tr><td><p><b>Achats</b> - pour effectuer les operations d'achat de stock ou d'equipement. Vous permet de creer des bons de commandes et consulter les factures fournisseur. </p></td></tr>
    <tr><td><p><b>Creances</b> - pour consulter les dois, tels que les factures fournisseurs. Vous permet d'effectuer des paiements contres les factures fournisseurs non-payees.</p></td></tr>
    <tr><td><p><b>Personnel</b> - pour consulter le repertoire des employes, creer ou modifier le profil des employes. Vous permet aussi de recencer les conges et abscences. </p></td></tr>
    </table>   
</div>

    
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Stock</a> &nbsp;
    <a class="btn btn-success btn-lg" href="#" role="button">Ventes</a> &nbsp;
    <a class="btn btn-info btn-lg" href="#" role="button">Recevables</a> &nbsp;
    <a class="btn btn-warning btn-lg" href="#" role="button">Achats</a> &nbsp;
    <a class="btn btn-danger btn-lg" href="#" role="button">Creances</a> &nbsp;
    <a class="btn btn-dark btn-lg" href="#" role="button">Personnel</a> &nbsp; -->

{% endblock %}  