{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>
      monCSFH Admin
  </title>
{% endblock %}

{% block pagecontent %}

<p></p>
<div class="jumbotron">
  <h1 class="display-6">Bienvenue dans monCSFH Admin</h1>
  <p class="lead">L'application centrale de gestion du Complexe Scolaire Fatoumata Haidara (CSFH)</p>
  <p class="lead">Veuillez selectionner un module dans la barre de navigation.</p>

  <hr class="my-4">
  <p>Ci-dessous l'etat des modules de gestion</p>
  <p><b>Etudiants</b> - Operations reliees aux etudiants, tels que les inscriptions, les bulletins et releves, et les informations personnelles.</p>
  <p>Non fonctionnel</p>
  <p><b>Enseignants</b> - Operations reliees aux enseignants, tels que l'enregistrement de nouvel(le) enseignant(e), les feuilles d'emargements, et les salaires.</p>
  <p>Construction en cours</p>
  <p><b>Annees Scolaires</b> - Initiez les informations d'une annee scolaire particuliere, telles que les dispositions des classes, les dates de la rentree et de la fin de l'annee scolaire.</p>
  <p>Non fonctionnel</p>
</div>

{% endblock %}
