{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>
      monCFHD Admin
  </title>
{% endblock %}

{% block pagecontent %}

<p></p>
<div class="jumbotron">
  <h1 class="display-6">Bienvenue dans monCFHD Admin</h1>
  <p class="lead">Selectionnez un des modules ci-dessous pour commencer</p>
  <!-- <hr class="my-4"> -->
  <p></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Annees scolaires</a> &nbsp;
  <a class="btn btn-primary btn-lg" href="{% url 'gestionEnseignant:index' %}" role="button">Enseignants</a> &nbsp;
  <a class="btn btn-primary btn-lg" href="#" role="button">Etudiants</a>
</div>

{% endblock %}
