{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <meta charset="UTF-8">

        {% block title %}
        {% endblock %}

        {% block css %}
        {% endblock %}

        {% block js %}
        {% endblock %}

    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'acceuil:index' %}">
                    <h1>monCFHD Admin</h1>
                    <!-- <img src="/static/logo.png" alt="..." height="70" width="300"> -->
                </a>
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'acceuil:index' %}">Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Annees scolaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gestionEnseignant:index' %}">Enseignants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Etudiants</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> -->
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block pagecontent %}
            {% endblock %}    
        </div>

    </body>

</html>