{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
        {% block title %}
        {% endblock %}

        {% block js %}
        {% endblock %}

    </head>
    <body>
        <div class="container">
            <!-- Navigation bar -->

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
                <a class="navbar-brand" href="{% url 'acceuil:index' %}">
                    <h1>monCFHD Admin</h1>
                    <!-- <img src="/static/logo.png" alt="..." height="70" width="300"> -->
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'acceuil:index' %}">Acceuil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Annees scolaires</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gestionEnseignant:index' %}">Enseignants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Etudiants</a>
                        </li>
                    </ul>
                </div>
            </nav>        

            {% block pagecontent %}
            {% endblock %}    
        </div>

    </body>

</html>