{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>
      Enseignants
  </title>
{% endblock %}

{% block pagecontent %}

  <p></p>
  <div class="jumbotron">
    <h1 class="display-6">Enseignants</h1>
    <p >Mettez a jour le personnel enseignant et les feuilles d'emargement</p>
    <!-- <hr class="my-4"> -->

    <a class="btn btn-primary btn-lg" href="#services"><i class="fa fa-plus-circle">Ajouter nouvel enseignant</i> </a> &nbsp;
    <a class="btn btn-primary btn-lg" href="#clients"><i class="fa fa-folder">Mettre a jour profile existant</i></a> <p></p>
    <a class="btn btn-primary btn-lg" href="#contact"><i class="fa fa-plus-circle">Ajouter feuille d'emargement</i></a> &nbsp;
    <a class="btn btn-primary btn-lg" href="#contact"><i class="fa fa-folder">Mettre a jour feuille d'emargement</i></a>
  </div>

{% endblock %}